body {
    background-color: rgb(92, 242, 242);
    color: black;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    max-width: 1500px;
    min-width: 500px;
}

h1 {
    width: 18%;
    text-align: center;
    border: 1px solid black;
    margin: 20px auto;
    padding: 20px 5px;
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding:5px;
    margin: 0 2vw ;
    border: 1px solid black;
}
 ul li{
    padding: 10px 5px;
    margin: 0;
}
ul li:hover{
    background-color: rgb(82, 197, 220);
    color: rgb(248, 60, 2);
    cursor: pointer;
    border-radius: 10px;
}
