body {
    background-color: rgb(5, 119, 119);
    color: black;
    padding: 0;
    margin:0;
    font-family: sans-serif;
}
h1{
    text-align: center;
    margin-left: 20em;
    margin-right: 20em;
    border: 1px solid black;
}
