body {
    background-color: rgb(242, 226, 228);
    color: black;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    max-width: 1500px;
    min-width: 500px;
}

h1 {
    width: 18%;
    text-align: center;
    border: 1px solid black;
    margin: 20px auto;
    padding: 20px 5px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 5px;
    margin: 0 2vw;
    border: 1px solid black;
}

ul li {
    padding: 10px 5px;
    margin: 0;
}

ul li:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(213, 154, 154);
    cursor: pointer;
    border-radius: 10px;
}

.product {
    display: flex;
    gap: 3rem;
    margin: 20px 2vw;
    border: 1px solid black;
}

.productphoto {
    text-align: center;
    line-height: 200px;
    width: 40vw;
    height: 200px;
    border: 1px solid black;
    margin: 10px;
}

.productdesc {
    width: 40vw;
    display: flex;
    flex-direction: column;
    margin: 10px;
    position: relative;
}

.productdesc button {
    position: absolute;
    bottom: 30px;
    right: 30px;
    padding: 5px 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.productdesc button:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(213, 154, 154);
}

.diffone {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 3vw;
}

.diffone>div {
    width: 32%;
    height: 250px;
    border: 1px solid black;
}

.diffone>div h4 {
    padding-left: 1rem;
}

.news>div h5 {
    padding: 0 1rem 0 1rem;
    margin: 0;
}

.news>div p {
    padding: 0 1rem 0 1rem;
    margin: 0 0 1rem 0;
    font-size: 15px;
}

.testimonials p {
    padding: 0 1.5rem 1.5rem 1.5rem;
    margin: 0;
}

.sale p {
    padding: 0 1.5rem 1.5rem 1.5rem;
    margin: 0;
}

footer {
    text-align: center;
    border: 1px solid black;
    margin: 3vw 2vw;
}